*{
    font-family: 'Poppins', sans-serif;
}
#input{
    border: none;
    border-bottom:  1px solid black;
    outline: none;
}
#word{
    color: green;
}
#score{
    color: darkblue;
}
#Time{
    color: red;
}
#alert{
    color: red;
    font-size: x-small
}
#result{
    color: red;
    font-size: smaller;
}
.time{
    margin-left: 4rem;
}